<header class="cd-main-header">
    <a href="#0" class="cd-logo"><p class="name">EDUSHARE</p></a>
      <!--
      <div class="cd-search">
         <form action="#0">
            <input type="search" placeholder="Search...">
         </form>
      </div> -->

      <a href="#0" class="cd-nav-trigger">Menu<span></span></a>


    </header>

    <main class="cd-main-content">
      <nav class="cd-side-nav">
         <ul>
            <li class="has-children help">
               <a href="#0">Besoin d'aide</a>
            </li>
            <!--
            <li class="has-children notifications active">
               <a href="#0">Notifications<span class="count">3</span></a>

               <ul>
                  <li><a href="#0">All Notifications</a></li>
                  other list items here
               </ul>
            </li>-->
            <li class="has-children chat">
                <a href="#" routerLink = '/chatroom'>Chat</a>
             </li>
            <li class="has-children calendar">
                <a href="#0">Mes disponibilités</a>
             </li>
             <li class="has-children user">
                <a href="#0">Profile</a>
             </li>
            <li class="has-children paramas">
                <a href="#0">Paramètre</a>
             </li>
            <!-- other list items here -->
         </ul>

         <!-- other unordered lists here -->
      </nav>

      <div class="content-wrapper">
         <!-- main content here -->
      </div> <!-- .content-wrapper -->
    </main> <!-- .cd-main-content -->
