.illustration-left {
    width: 100%;
    height: 100vh;
    background-image: url("/assets/login.png"), linear-gradient(#242348, #5A55AA) ; /* W3C */
    background-repeat: no-repeat;
    background-size: cover;
    img {
        width: 100%;
        height: 100vh;
    }
}

.login-content {
    position: relative;
    top: 50%;
    left: 50%;
    max-width: 400px;
    transform: translate(-50%, -50%);
    h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 35px;
    }
    h2, p {
        text-align: center;
    }
    input {
        border: 0;
        border-bottom: 2px solid #E9E9F0;
    }
}
.form-control {
    padding: 0.075rem .75rem;
}

.btn {
    padding: .6rem 3.75rem;
    width: 12rem;
}

.btn-primary {
    color: #fff;
    background-color: #43425D;
    border-color: #43425D;
}
.btn-primary:hover {
    color: #fff;
    background-color: #232331;
    border-color: #232331;
}
.btn-secondary {
    color: #43425D;
    background-color: transparent;
    border-color: #43425D;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
    color: white;
    background-color: #43425d;
    border-color: #43425D;
}

@media (max-width: 574px) {
    .hidden-xs-down {
        display: none!important;
    }
    .illustration-right {
        width: 100%;
        height: 100vh;
        background-image: url('/assets/login.png'), linear-gradient(#242348, #5A55AA); /* W3C */
    }
    .illustration-right h2, p{
        color: white;
    }
    .illustration-right .form-control{
        background-color: transparent;
        color: white;
    }
    input::placeholder, label, a {
        color: white !important;
    }
    .btn-secondary {
        color: #43425d;
        background-color: white;
        border-color: transparent;
    }
    .btn {
        width: 100%;
        margin-top: 15px;
    }
    select {
        color: white;
        background: #23232340;
        border-color: white;
        
    }

}
@media (min-width: 575px) {
    input::placeholder {
        color: #43425D !important;
    }
    .container {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
    .col-md-6 {
        padding: 0;
    }
}
.btn-allready-have {
    color: #43425D;
    padding: .6rem 0.75rem;
}

.pills-rounded .nav-item .nav-link {
    border-radius: 10em;
    }
    
    .pills-deep-purple .nav-link.active {
        color: white;
    }
    .pills-deep-purple .nav-link.active {
        background-color: #512da8!important;
    }
    .nav-justified .nav-item {margin-top: 10px;}

.best-class {
    padding: 3px 6px;
    margin-left: 10px;
    p {
        margin-top: 30px;
    }
}