<app-title></app-title>
<h1 class="text-center">Chat Room</h1>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h1 class="text-center">Join chat room</h1>
      <hr>
      <ul class="list-group">
        <li class="list-group-item">
          <div class="input-group">
            <span class="input-group-addon">#</span>
            <input type="text" [(ngModel)]="chatRoomName" (keyup.enter)="startChatRoom()" class="form-control" placeholder="Chat room name">
            <span class="input-group-btn">
              <button (click)="startChatRoom()" class="btn btn-primary">Start chat room</button>
            </span>
          </div>
        </li>
        <li *ngFor="let chatRoom of chatRooms" (click)="joinChatRoom(chatRoom)" class="list-group-item chat-room" [ngClass]="{'chat-room-joined' : isChatRoomJoined(chatRoom)}">
          <span>{{chatRoom.displayName}}</span>
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <h1 class="text-center">Chat</h1>
      <hr>
      <div class="col-md-8 col-md-offset-2">
        <app-chat *ngIf="chatRoom" [(chatRoom)]="chatRoom"></app-chat>
      </div>
    </div>
  </div>
</div>
