.canvas-whiteboard-shape-selector-wrapper {
            position:relative;
            display: block;
            padding: 4px;
            border: 1px solid #afafaf;
            width:410px;
            left:25%;
            top:15%;
            z-index:0;
        }
        @media (min-width: 401px) {
            .canvas-whiteboard-shape-selector-wrapper {

            }
        }

.selectionCanvas{
    margin:5px;
    cursor: pointer;
}
