<div class="container-fluid">
  <div class="row">
    <div class="form-group">
      <label for="fileDrop">Chat file</label>
      <ngx-file-drop id="fileDrop" headertext="Drop files here" (onFileDrop)="fileDrop($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        <span class="hidden">optional content (don't set headertext then)</span>
      </ngx-file-drop>
    </div>
    <div class="form-group">
      <label for="message">Chat message</label>
      <div class="input-group">
        <emoji-input [(model)]="message" inputClass="form-control" searchClass="emoji-search-bootstrap" (keyup)="isTyping()" (keyup.enter)="submitChatMessage()"
          (click)="openPopup(false)" (setPopupAction)="setPopupAction($event)"></emoji-input>
        <div class="input-group-addon btn btn-emoji" (click)="openPopup()"></div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" (click)="submitChatMessage()">Submit</button>
      <div class="pull-right">
        <label for="notifyNewChats">Notify new messages</label>
        <input type="checkbox" [(ngModel)]="notifyNewChats" id="notifyNewChats" name="notifyNewChats">
      </div>
    </div>
    <hr>
    <div class="form-group" *ngIf="chatUsersTypingMessage">
      <span>{{chatUsersTypingMessage}}</span>
    </div>
    <ul class="list-group">
      <li class="list-group-item chat" [ngClass]="{'mychat': isMyChat(chat)}" *ngFor="let chat of chats">
        <span class="chat-user" *ngIf="chat.user">{{chat.user.displayName}} </span>
        <span class="chat-timestamp">({{chat.timestamp}}): </span>
        <span class="chat-message" *ngIf="isMessageChat(chat)">{{chat.message}}</span>
        <span class="chat-image" *ngIf="isImageChat(chat)"><img src="{{chat.downloadUrl}}"/></span>
        <span class="chat-file" *ngIf="isFileChat(chat)"><a href="{{chat.downloadUrl}}">{{chat.message}}</a></span>
      </li>
    </ul>
  </div>
</div>
