<h3>Les règles du chat</h3>
<!----------- voir exemple sur chat de developpez.com ----------->
<div class="">
    <ol>
      <li>Exprimez-vous en français.</li>

<li>Pas de style SMS.</li>

<li>Pas de grossièretés.</li>

<li>Pas d'insultes.</li>

<li>Pas de flood.</li>

<li>Pas de message privé (ou message public personnel) aux membres que vous ne connaissez pas encore.</li>

<li>Pas de discussions sur la religion.</li>

<li>Pas d'infraction à la loi (piratage, diffamation, dénigrement...).</li>

<li>Pas de contestation de la modération en salon. Voyez en privé avec le modérateur en question, ou un administrateur.</li>

<li>Ne nuisez pas à la bonne ambiance du Chat, tenez compte des remarques des modérateurs.</li>
    </ol>
</div>

<p> <a [routerLink]="['/chatrooms/chat-page']" >retour au chat</a></p>
